alexnet+processes-MK.ipynb
alexnetXY+processes+aug-Copy1.ipynb
Data_loader try1.ipynb
Data_loader try2.ipynb
data_loader_MK_3_0.ipynb
dataVityaGolikov.ipynb
resnet152+Aug.ipynb
resnet152withoutAug.ipynb
SunDetectingNetworkTry1.ipynb
SunDetectingNetworkTry2-MK.ipynb
SunDetectingNetworkTry2.ipynb
SunDetectingNetworkTry3.ipynb
SunDetectingNetworkTry4.ipynb
Test smth.ipynb
Test_Segmentation.ipynb
.ipynb_checkpoints/alexnet+processes-MK-checkpoint.ipynb
.ipynb_checkpoints/alexnet+processes+aug-checkpoint.ipynb
.ipynb_checkpoints/alexnet+processes+aug-MK-checkpoint.ipynb
.ipynb_checkpoints/Charts-checkpoint.ipynb
.ipynb_checkpoints/csv changing to right-checkpoint.ipynb
.ipynb_checkpoints/Data_loader try1-checkpoint.ipynb
.ipynb_checkpoints/Data_loader try2-checkpoint.ipynb
.ipynb_checkpoints/data_loader_MK_3_0-checkpoint.ipynb
.ipynb_checkpoints/dataVityaGolikov-checkpoint.ipynb
.ipynb_checkpoints/resnet152+Aug-checkpoint.ipynb
.ipynb_checkpoints/gather images-checkpoint.ipynb
.ipynb_checkpoints/resnet152+Aug+processes-checkpoint.ipynb
.ipynb_checkpoints/resnet152+processes+aug-checkpoint.ipynb
.ipynb_checkpoints/resnet152withoutAug-checkpoint.ipynb
.ipynb_checkpoints/SunDetectingNetworkTry1-checkpoint.ipynb
.ipynb_checkpoints/SunDetectingNetworkTry2-checkpoint.ipynb
.ipynb_checkpoints/SunDetectingNetworkTry2-MK-checkpoint.ipynb
.ipynb_checkpoints/SunDetectingNetworkTry4-checkpoint.ipynb
.ipynb_checkpoints/Test smth-checkpoint.ipynb
.ipynb_checkpoints/Test_Segmentation-checkpoint.ipynb
.ipynb_checkpoints/Unet_work-checkpoint.ipynb
.ipynb_checkpoints/SunDetectingNetworkTry3-checkpoint.ipynb
